body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.search-item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.search-item i {
  z-index: 99;
}

.image-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.image {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.image img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-height: 320px;
}

.search-table {
  margin-top: 30px;
  margin-bottom: 150px;
}